ul, #layerList {
  list-style-type: none;
}

.arrow {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.arrow::before {
  content: "\1F892";
  size: "20px";
  color: black;
  display: inline-block;
  margin-right: 4px;
  margin-left: 2px;
}

.expanded-arrow::before {
  content: "\1F893";
}

.nested {
  display: none;
}

.active {
  display: block;
}

#layerList {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: roboto;
}

canvas { display: block; }

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #949494;
  overflow-x: hidden;
  padding-top: 0px;
}

.main {
  margin-left: 250px;
}