<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
<html>
   <body>
      <form action = "http://localhost:5000/validate" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <div>
         <textarea class="scrollabletextbox" name="note">{{iv_output}}</textarea>
      </div>
      <form action="{{ url_for('download_file', filename=instance_validation_report_filename) }}">
         <input type="submit" value="Download Instance Validation Report" />
      </form>
   </body>
</html>