<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
<html>
   <head>
      <title>DBO Instance Validator</title>
   </head>
   <body>
      <h1>DBO Instance Validator</h1>
      <form action = "{{ url_for('validate_building_config') }}" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "text" name = "dbo_commit_hash" placeholder="Pull Request ID"/>
         <input type = "text" name = "subscription_name" placeholder="PubSub Subscription Name"/>
         <input type = "submit"/>
      </form>
      <div>
        <textarea class="scrollabletextbox" name="note">{{iv_output}}</textarea>
      </div>
      <form action="{{ url_for('download_file', filename=iv_filename) }}">
         <input type="submit" value="Download Instance Validation Report" />
      </form>
   </body>
</html>
