# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tools

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
  
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name:  RDF Generator Install dependencies
      run: |
        python -m pip install --upgrade pip
        python setup.py install
      working-directory: ./tools/rdf_generator
    - name:  RDF Generator Tests
      run: |  
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/rdf_generator/rdfformat/tests
    - name:  Ontology Yaml Validator Install dependencies
      run: |
        python setup.py install
      working-directory: ./tools/validators/ontology_validator
    - name: Ontology Yaml Validator Generator Tests 
      if: (matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest')
      run: |
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/validators/ontology_validator/yamlformat/tests
    - name: Instance Yaml Validator Install dependencies
      run: |
        python setup.py install
      working-directory: ./tools/validators/instance_validator
    - name: Instance Yaml Validator Tests 
      if: (matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest')
      run: |
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/validators/instance_validator
