# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tools

on:
  push:
    branches: [ master ]
    paths: 
      - tools/**
  pull_request:
    branches: [ master ]
    paths: 
      - tools/**

jobs:
  build:
  
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install Pylint 
      run: |
        python -m pip install pylint
    #---------- Ontology Yaml Type Validator ----------# 
    - name:  Ontology Yaml Type Validator Install dependencies
      run: |
        python setup.py install
      working-directory: ./tools/validators/ontology_validator
    - name: Ontology Yaml Validator Generator Tests 
      run: |
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/validators/ontology_validator
    #---------- Ontology Yaml Instance Validator ----------# 
    - name: Instance Yaml Validator Install dependencies
      run: |
        python setup.py install
      working-directory: ./tools/validators/instance_validator
    - name: Run Pylint on Instance Validator
      run: |
        pylint --rcfile=./styles/pylintrc ./tools/validators/instance_validator
    - name: Instance Yaml Validator Tests
      run: |
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/validators/instance_validator
     #---------- RDF Generator ----------# 
    - name:  RDF Generator Install dependencies
      run: |
        python -m pip install --upgrade pip
        python setup.py install
      working-directory: ./tools/rdf_generator
    - name:  RDF Generator Tests
      run: |  
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/rdf_generator/rdfformat/tests
    - name: Run Pylint on RDF Generator
      run: |
        pylint --rcfile=./styles/pylintrc ./tools/rdf_generator      
     #---------- Experimental Type Matcher  ----------# 
    - name:  Experimental Type Matcher
      run: |
        python -m pip install --upgrade pip
        python setup.py install
      working-directory: ./experimental/type_matcher
    - name:  Type Matcher Tests
      run: |  
       python -m unittest discover -p '*_test.py' --failfast -v
      working-directory: ./tools/rdf_generator/rdfformat/tests
    - name: Run Pylint on Type Matcher
      run: |
        pylint --rcfile=./styles/pylintrc ./experimental/type_matcher 
